@font-face {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
        url("../fonts/Geologica-Light.woff2") format("woff2"),
        url("../fonts/Geologica-Light.woff") format("woff");
}

@font-face {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url("../fonts/Geologica-Regular.woff2") format("woff2"),
        url("../fonts/Geologica-Regular.woff") format("woff");
}

@font-face {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        url("../fonts/Geologica-Bold.woff2") format("woff2"),
        url("../fonts/Geologica-Bold.woff") format("woff");
}