*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-black;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
