$font-base: "Geologica", "Arial", sans-serif;

$color-white: #fff;
$color-black: #000;
$color-salad: #5fbb46;
$color-main: #ed1c24;
$color-grey: #7a7a7a;
$color-silver: #efefef;
$color-while: #b4b4b4;

// Containers

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
