.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  transition: padding 300ms, box-shadow 300ms;
  box-shadow: none;

  // position: sticky;
  // top: 0;
  // z-index: 40;
  // width: 100%;

  &--shadow {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  &__container {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: padding 300ms;

    @media (min-width: $lg) {
      padding: 0.5rem 2rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0.95;

    transition: gap 300ms, opacity 300ms;
  }
}
