.ingredients {
  padding-top: 25px;

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: $color-salad;
  }

  &__wrap {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 15px;
  }
}
