.modal__overlay {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  inset: 0px;
}

.modal__content {
  position: absolute;
  inset: 40px;
  background: $color-white;
  overflow: auto;
  border-radius: 16px;
  outline: none;
  padding: 20px;

  animation: modal-in 500ms ease forwards;
}

@keyframes modal-in {
  from {
    opacity: 0;
    transform: translateY(6px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

// @keyframes modal-out {
//   from {
//     opacity: 1;
//     transform: translateY(0) scale(1);
//   }
//   to {
//     opacity: 0;
//     transform: translateY(6px) scale(0.98);
//   }
// }

.modal__close {
  border: none;
  background: transparent;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  padding: 4px 8px;
  margin: -4px -8px -4px 8px;

  &:hover {
    opacity: 0.8;
  }
}
