.button {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Geologica", sans-serif;
  font-size: 14px;
  border-radius: 50px;
  transition-duration: 0.5s;
  position: relative;
  outline: none;
  cursor: pointer;

  &--classic {
    font-weight: 500;
    color: $color-white;
    border: 1px solid $color-salad;
    background-color: $color-salad;

    &:hover {
      background-color: $color-white;
      color: $color-black;
    }
  }

  &--ingredients {
    width: 100%;
    font-weight: 300;
    color: $color-salad;
    background-color: $color-white;
    border: 1px solid $color-silver;

    &:hover {
      color: $color-main;
      border-color: $color-salad;
    }
  }

  &--add-card {
    width: 100%;
    background-color: $color-white;
    border: 1px solid $color-main;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: $color-black;

    &:hover {
      background-color: $color-main;
      color: $color-white;
    }
  }

  &--order {
    width: stretch;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    background-color: $color-main;
    border-radius: 50px;
    border: none;
    color: $color-white;

    &:hover {
      background-color: $color-salad;
    }
  }
}
