.product {
  padding-top: 10px;
  padding-bottom: 30px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border: 1px solid $color-silver;
  border-radius: 16px;

  &__img {
    overflow: hidden;

    img {
      transition: transform 300ms ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.15);
      }
    }
  }

  &__container {
    padding: 0 32px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }

  &__description {
    padding-top: 5px;
    padding-bottom: 25px;
    line-height: 18px;
    color: $color-grey;
  }

  &__price {
    margin-top: auto;
    padding-bottom: 25px;
    font-size: 24px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.product-modal {
  width: 1140px;
  overflow: auto;
  position: relative;
  display: flex;
  align-items: flex-start;

  &__image {
    min-width: 560px;
    overflow: hidden;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: stretch;
  }

  &__content {
    padding-left: 20px;
    max-height: 486px;
    overflow-y: auto;
    position: relative;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
  }

  &__information {
    padding-top: 20px;
    width: 90%;
    font-size: 16px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, max-content);
    gap: 10px;

    li:last-of-type {
      padding-top: 15px;
    }

    span {
      color: $color-grey;
    }
  }

  &__order {
    margin-top: auto;
    padding-top: 20px;
    padding-left: 20px;
  }
}
